.header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    background-color: rgb(81, 141, 81);  
    color: white;
    height: 10vh;
}