.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
.footer{
  padding: 30px;
  background-color: black;
  color: grey;
  font-size: 20px;
  text-align: center;
  height: 10vh;
}
